{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block title %}_Login_{% endblock %}
{% block main_content %}
<div class="container">
	<p class="page-description text-center">
		<img src="http://www.sosokanapp.com/assets/images/signup.jpg" width=400 alt=""/>
	</p>
	<div class="row">
		<div class="col-sm-12 col-md-offset-3">
			<!--div class="panel panel-default"-->

            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">LOGIN</button>
                    <button type="reset">RESET</button>
										<br>
                </form>
								<br>
								<br>
				<a href= "{% url 'polls:register' %}"><button>NEW USER</button></a>
																<a href= "{% url 'polls:register' %}"><img src="http://www.sosokanapp.com/assets/images/adduser.png" width=40 border="0" align="center"/></a>

            </div>

        </div>

    </div>
</div>
{% endblock %}
