{% load staticfiles %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'polls:index' %}"><STRONG>  <img src="http://sosokanapp.com/assets/images/logo.png" width="125" border="0" align="center"  /></STRONG></a>

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--  <div class="navbar-brand">Miss Chinese Beauty Pageant</div>
        a class="navbar-brand" href="#">Project name</a
          img src="{% static 'polls/images/missbeautypageantsmalllong.jpg' %}"-->
        </div>
      </div>
    </nav>
