{% extends "polls/base_after.html" %}
{% load staticfiles %}
{% block main_content %}

<div class="container gallery-container">


      <p class="page-description text-center">
        <img src="http://www.sosokanapp.com/assets/images/topbanner.jpg" width=400 alt=""/>
      </p>

    <div class="tz-gallery">

      <form action = "{% url 'polls:votes' %}" method="post">
      {% csrf_token %}

        <div class="row">
          <p class="page-description text-center">
            <img src="http://www.sosokanapp.com/assets/images/pickone.jpg" width=400 alt=""/>
          </p>

            {% for contestant in candidates %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{{contestant.candidate_image.url}}">
                        <img src="{{contestant.candidate_image.url}}" width=500 alt="{{contestant.first_name}}"/>
                    </a>
                    <div class="caption">
                      <h4><p class="page-description text-center">#{{contestant.assigned_number}}. {{contestant.first_name}} {{contestant.last_name}}</p></h4>
                    <div class = "card-block">

                    </div>

                            <p class="page-description text-center">
                            <input type="image" src="http://www.clker.com/cliparts/c/l/Y/w/j/p/orange-heart-hi.png" name="contestant" id="contestant{{forloop.counter}}" value ="{{contestant.id}}" width=60>{{contestant.vote_count}}
                          </p>
                          <p class="page-description text-center">Tap on the heart to Vote!</p>

                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>

    <p class="page-description text-center">
      <a href="http://www.sosokanapp.com/index_cn.html" target="_blank">
            <img src="http://www.sosokanapp.com/assets/images/bottombanner.jpeg" width=400 border="0" align="center"/>
    </p>



</div>

<!--
<div class="container">
    <form action = "{% url 'polls:votes' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <h3 align="center"><b>Select your favorite contestant below.</b></h3>
        <div class="block" align="center">
            <label style="display:inline-block; vertical-align:middle; font-size: 22px;">Then click</label>
            <input type ="submit" class="btn btn-success" value="CONFIRM" style="text-align:center; vertical-align:middle; font-size:18px"/>
        </div>
    </div>
        <br>
    {% for contestant in candidates %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="row">
        {% endif %}
            <div class="col-md-4">
                <div class="picture w3-card-4" style="width:20rem">
                    <a class="lightbox" href="{{contestant.candidate_image.url}}">
                        <img class="card-img-top" src="{{contestant.candidate_image.url}}" style="width:19rem"   class="center-block img-responsive">
                    </a>
                    <br>
                    <div class = "card-block">
                        <br>
                        <input type="radio" name="contestant" id="contestant{{forloop.counter}}" value ="{{contestant.id}}"/>
                        <label for="contestant{{forloop.counter}}">#{{contestant.assigned_number}} {{contestant.first_name}} {{contestant.last_name}}</label><br>
                    </div>
                    <div class = "card-footer">
                       <p style="font-size:120%">
                           <img src="static/polls/images/heart-transparent.png" style="height:15px; width:15px"> {{contestant.vote_count}}
                       </p>
                    </div>
                </div>
            </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        <br>
        {% endif %}
    {% endfor %}
    </form>
</div>

-->

{% endblock %}
