{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block main_content %}
<div>

  <p class="page-description text-center">
    <img src="http://www.sosokanapp.com/assets/images/thankyou.jpg" width=400 alt=""/>
  </p>
      <p class="page-description text-center">
    <a href="http://www.sosokanapp.com/index-cn.html" target="_blank">
        <img src="http://www.sosokanapp.com/assets/images/moving-banner.gif" width=500 border="0" align="center"/>
      </p>
</div>


<div class="container">
	<h2><p class="page-description text-center">Sponsored and Brought to you by: Sosokan!</p></h2>
	<div class="row">
		<div class="col-sm-12 col-md-offset-3">
			<!--div class="panel panel-default"-->

            <div class="panel-body">

              <a href="http://www.sosokanapp.com/index-cn.html" target="_blank">
                  <img src="http://www.sosokanapp.com/assets/images/hand.png" width=500 border="0" align="center"/>


              </a>
            </div>
            <div class="panel-body">
              <p class="page-description text-center">
                <a href="https://itunes.apple.com/us/app/sosokan-buy-sell-and-trade-in-your-local-commun/id1023454229?mt=8" target="_blank">
                      <img src="http://www.sosokanapp.com/assets/images/download.png" width=250 border="0" align="center"/>
              </p>
              </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
