{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script type="text/javascript">
        var likes=0;
        function like() {
            document.getElementById("show").innerHTML=likes;
            likes = likes + 1;
        }
     </script>
</head>

<body>

<br>
{% include "polls/header_after.html" %}
<div class="jumbotron">
    <div class="container">
        {% block main_content %}
        {% endblock %}
    </div>
</div>
{% include "polls/footer.html" %}
</body>
</html>