{% extends "polls/base.html" %}
{% load staticfiles %}
{% block main_content %}

<div class="container">
  <div class="row">
      {% for contestant in candidates %}
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
              <a class="lightbox" href="{{contestant.candidate_image.url}}">
                  <img src="{{contestant.candidate_image.url}}" width=500 alt="{{contestant.first_name}} {{contestant.last_name}}"/>
              </a>
              <div class="caption">
              <h4><p class="page-description text-center">{{contestant.first_name}} {{contestant.last_name}}</p></h4>

                      <p class="page-description text-center">
                      <input type="image" src="http://www.clker.com/cliparts/c/l/Y/w/j/p/orange-heart-hi.png" width=40>
                    </p>
              </div>
          </div>
      </div>

      {% endfor %}
  </div>

  

{% endblock %}
