<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>question</key>
            <string>What is Sosokan ?</string>
            <key>answer</key>
            <string>Lauched in 2016, Sosokan aims to create a community-based marketplace for everyone to sell, buy and trade.
                
                Sosokan caters to develop a multilingual marketplace for people to simplify their selling and buying process.  We want to connect buyers and sellers in an easy and fast way in our marketplace by focusing on individuals’ selling.  In Sosokan marketplace, user can list new products or used products. There’s no amount limitation for listing, buying and trading.  The best of it, it is FREE for everyone to use.
                
                Sosokan goal is to emerge goods exchange platform, starting from local communities (based in New York) to expand nationwide, further to other countries. We welcome business users to join our marketplaces.  With our unique verification process and requirement,  it helps to build confidence and a sense of security in a trusted trading environment.
                
                Everyone will benefit from the Sosokan marketplace, to sell, to buy and to trade.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How do I sign up for Sosokan ?</string>
            <key>answer</key>
            <string>Sosokan accept three affiliate account sign up. You can signup and login with Facebook, weChat or phone number. For phone number verification, by entering your phone number, you will be able to receive a verification code by text. For facebook and Wechat, all you need is to login via Facebook username and password to authorize Sosokan login.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>Is Sosokan free?</string>
            <key>answer</key>
            <string>Yes, Sosokan is free for all users to browse and post their own selling product for trade without any fee. However, if you ought to be verified business user to own your Sosokan online shop, fees may apply.  Please send your inquiry to info@sosokanapp.com via email for further information.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How do I post on Sosokan?</string>
            <key>answer</key>
            <string>Please see the instruction “How to make a great post” in banner page.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>Can I promote my own business on Sosokan App?</string>
            <key>answer</key>
            <string>Yes. You are welcomed to send any business cooperation inquiry to info@sosokanapp.com via email: Partner@sosokanapp.com. Sosokan will give you a response for next step within one week.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>Will Sosokan Publish my personal information ?</string>
            <key>answer</key>
            <string>Unless you specified in the adds, the only information Sosokan will publish on the ad is your phone number and email address, which is also enable by you on posting of products. For anything else, it’s all will be sealed regarding Sosokan privacy and terms.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How does Sosokan following works ?</string>
            <key>answer</key>
            <string>In setting, just click “follow” on any posting or user profile page that you are interested in receiving the most updated information. After you followed other users , you will receive notifications while your subscribed users updates posts.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How secure is Sosokan?</string>
            <key>answer</key>
            <string>Although Sosokan is a free app and free to browse, we do require our posting to allowed only to registered users.  This will provide a sense of security to our contents and eliminate spams.   Our team will monitor all posts and filter out illegal and unauthorized contents that are hazard to our app and to national security.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>Will Sosokan be launch in another language?</string>
            <key>answer</key>
            <string>Yes, Sosokan is currently being launched in two languages, English and Chinese.  Our future releases will have the support of multiple languages such as Spanish, Japanes, Korean, German, French, Italian, Russian and many more.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How do I edit my history posts?</string>
            <key>answer</key>
            <string>All you need to do it to go to "my post",  modify or delete your history posts, or you can mark the specific post Sold. In this way, other user will know the status of your selling products.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How do Sosokan process payment between buyer and seller, or customer and merchant?</string>
            <key>answer</key>
            <string>Sosokan does not process any forms of payment between buyer and seller, or customer and merchant.  All transactions are processed via payment method arranged between buyer and seller, or customer and merchant.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How do I report illegal activity on Sosokan?</string>
            <key>answer</key>
            <string>Within each ad, please click on the "REPORT IT" and our team will investigate the issue. If it was found to be offensive and illegal, we will remove the ad immediately.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How do I edit my user profile on Sosokan?</string>
            <key>answer</key>
            <string>In the menu, setting page, you can click on "Edit Profile " button to update your information.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How can I share Sosokan App with my friends?</string>
            <key>answer</key>
            <string>If you find Sosokan is useful and would like to share our app to your friends, you can invite them via Facebook, and weChat contact. You can also share individual post through Facebook and Wechat.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How can I share an ad on Sosokan?</string>
            <key>answer</key>
            <string>Click on the share icon on the upper right picture of each ad and you can share on your favorite apps.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How do I delete my account on Sosokan?</string>
            <key>answer</key>
            <string>Please email us at info@sosokanapp.com and we will remove your account.  But to help us improve our app for other users, please feel free to drop us a line when you send us the email.  We do take your opinion and suggestion in a serious manner.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How do I delete messages on Sosokan?</string>
            <key>answer</key>
            <string>In main menu, click on “Messages”, then slide right-to-left on the specific chat to delete unwanted messages.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>Where do I enter password on Sosokan?</string>
            <key>answer</key>
            <string>Sosokan does not require password since users are phone, Facebook and weChat verified.  Currently we do not have the option for password changes.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>Where can I see all my postings?</string>
            <key>answer</key>
            <string>In main menu, click on "My Posts", and you will be able to see all of your postings to date.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>Is Sosokan supported on Android?</string>
            <key>answer</key>
            <string>Our first launch of the Sosokan app is on IOS only. Our team of developer are working on the Android version tirelessly and hope to launch the Android version in the coming months.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>How can I move my listing to the Top?</string>
            <key>answer</key>
            <string>Ad and Listings are sorted by time and date. We do not recommend posting the same advertisement repeatedly just to be on the Top, as long as your ads are relevant, our user will be able to see it with a simple search.  It is actually against our policy to post the same ad within a 7 days period.  Repeat offenders will have their listings revoked and their account suspended.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>Can I add attachment within Chat on Sosokan?</string>
            <key>answer</key>
            <string>Yes, photo can be attached within our message chat.  Just tap on the paperclip and you can attach photo to chat.  Isn’t it great!
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>Can I post on Sosokanapp.com?</string>
            <key>answer</key>
            <string>You can only browse on Sosokanapp.com.  Posting are only available on our Sosokan app.
            </string>
        </dict>
        <dict>
            <key>question</key>
            <string>Why I do not see the category I want on Sosokan?</string>
            <key>answer</key>
            <string>As we are continuing to improve our app, you have found our missing link.  We want you to email us the category that we are missing and we will gladly add it if appropriate. Please send email to: info@sosokanapp.com
            </string>
        </dict>
    </array>
</plist>
