<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sosokan.android"
    android:hardwareAccelerated="true"
    android:versionCode="1"
    android:versionName="1.0">

    <permission
        android:name="com.testing.svma.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <!-- Accessing camera hardware -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:required="true" />
    <uses-permission
        android:name="com.testing.svma.permission.MAPS_RECEIVE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        android:required="true"></uses-permission>

    <application

        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name="com.sosokan.android.ui.activity.SplashActivity"
            android:icon="@mipmap/ic_app"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ringcaptcha"
                    android:scheme="SoSoKan" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs "com.example.myapp://" -->
                <data android:scheme="com.sosokan.android" />
            </intent-filter>
        </activity>
        <!--<activity
            android:name="com.sosokan.android.ui.activity.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName="com.sosokan.android.ui.activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sosokan.android.ui.activity.MenuActivity" />
        </activity>-->
        <activity
            android:name="com.sosokan.android.ui.activity.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName="com.sosokan.android.ui.activity.MenuActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sosokan.android.ui.activity.MenuActivity" />
        </activity>
        <activity
            android:name="com.sosokan.android.ui.activity.AdvertiseDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName="com.sosokan.android.ui.activity.MenuActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sosokan.android.ui.activity.MenuActivity" />
        </activity>
        <activity
            android:name="com.sosokan.android.ui.activity.NewAdvertiseActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName="com.sosokan.android.ui.activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sosokan.android.ui.activity.MenuActivity" />
        </activity>
        <activity
            android:name="com.sosokan.android.ui.activity.MenuActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.sosokan.android.ui.activity.MessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sosokan.android.ui.activity.FAQActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sosokan.android.ui.activity.EditProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sosokan.android.ui.activity.VerifyCodeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sosokan.android.ui.activity.InviteFriendActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sosokan.android.ui.activity.SubscriptionsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sosokan.android.ui.activity.SelectCategoryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sosokan.android.ui.activity.EditAdvertiseActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sosokan.android.ui.activity.TermConditionActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"/>
        <activity
            android:name="com.sosokan.android.ui.activity.VideoViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sosokan.android.ui.activity.AdvertiseDetailApiActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sosokan.android.ui.activity.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true">
        </activity>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBzhjjmMwJgucWqIxIEH7YzyTicmNSDcns" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--   <provider android:authorities="com.facebook.app.FacebookContentProvider@string/facebook_app_id"
               android:name="com.facebook.FacebookContentProvider"
               android:exported="true"/>-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="67b9133e7f403b12d63d89c67e93fcba6169d1bd" />

        <meta-data
            android:name="com.sosokan.android.utils.GlideConfiguration"
            android:value="GlideModule" />

        <service android:name="com.sosokan.android.services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.sosokan.android.services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sosokan.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.google.firebase.crash.internal.service.FirebaseCrashReceiverService"
            android:process=":background_crash" />

        <service
            android:name="com.google.firebase.crash.internal.service.FirebaseCrashSenderService"
            android:process=":background_crash" />

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"
            android:exported="false" />


        <service
            android:name="com.google.firebase.iid.FirebaseInstanceIdService"
            android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" />
    </application>

</manifest>