{% extends 'vote/base.html' %}

{% block body %}




{% for album in album.album_set.all %}
  <label for="album{{ forloop.counter }}">
    {{ album.album_title }}
    {% if song.is_favorite %}
      <img src="http://i.imgur.com/b9b13Rd.png" />
    {% endif %}
  </label><br>
{% endfor %}

<img src="{{ album.album_logo}}" width=400>
<h1> {{ album.album_title }} </h1>
<h3> {{ album.artist }} </h3>


{% if error_message %}
  <p><strong>{{ error_message}}</strong></p>
{% endif %}

    {% csrf_token %}
    {% for song in album.song_set.all %}
      <label for="song{{ forloop.counter }}">
        {{ song.song_title }}

          <img src="http://www.clker.com/cliparts/c/l/Y/w/j/p/orange-heart-hi.png" />
      </label><br>
    {% endfor %}

{% endblock %}
