{% extends 'vote/base.html' %}

{% block body %}



<div class="container gallery-container">

    <h2><p class="page-description text-center">2017 Miss Chinese Beauty Pageant</p></h2>
    <div class="tz-gallery">

        <div class="row">
            {% for album in object_list %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="{{ album.album_logo}}">
                        <img src="{{ album.album_logo}}" width=500 alt="{{album.album_artist}}"/>
                    </a>
                    <div class="caption">
                    <h4><p class="page-description text-center">{{album.album_title}}</p></h4>

                            <p class="page-description text-center">
                            <input type="image" src="http://www.clker.com/cliparts/c/l/Y/w/j/p/orange-heart-hi.png" width=40>
                          </p>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>

</div>


{% endblock %}
