<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="images/favicon.png">
        <title>Sosokan Marketplace</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="css/ionicons.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="css/animate.css">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="css/slider.css">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/jquery.fancybox.css">
        <!-- template main css file -->
        <link rel="stylesheet" href="css/main.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css">

        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- bootstrap js -->

        <script src="js/bootstrap.min.js"></script>
        <!-- wow js -->
        <script src="js/wow.min.js"></script>
        <!-- slider js -->
        <script src="js/slider.js"></script>
        <script src="js/jquery.fancybox.js"></script>
        <!-- template main js -->
        <script src="js/main.js"></script>
    </head>
    <body>
      <!--
      ==================================================
      Header Section Start
      ================================================== -->
      <header id="top-bar" class="navbar-fixed-top animated-header">
          <div class="container">
              <div class="navbar-header">
                  <!-- responsive nav button -->
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <!-- /responsive nav button -->

                  <!-- logo -->
                  <div class="navbar-default">
                      <a href="index.html" >
                          <img src="images/logo-cn.png" alt="搜搜看" width=90>
                      </a>
                  </div>
                  <!-- /logo -->
              </div>
              <!-- main menu -->
              <nav class="collapse navbar-collapse navbar-right" role="navigation">
                  <div class="main-menu">
                      <ul class="nav navbar-nav navbar-right">
                          <li>
                              <a href="index-cn.html" ><h3>首页</h3></a>
                          </li>
                            <a><li><h3> | </h3></a></li></a>
                          <li><a href="discover-cn.html"><h3>发现</h3></a></li>
                            <a><li><h3> | </h3></a></li></a>
                          <li><a href="about-cn.html"><h3>关于</h3></a></li>
                            <a><li><h3> | </h3></a></li></a>
                          <li><a href="contact-cn.html"><h3>联系</h3></a></li>
                            <a><li><h3> | </h3></a></li></a>

                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3>语言 <span class="caret"></span></h3></a>
                              <div class="dropdown-menu">
                                  <ul>
                                      <li><a href="index.html">English</a></li>
                                      <li><a href="index-cn.html">中文</a></li>

                                  </ul>
                                  <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwi7qveQ2ZbUAhXBRyYKHRDkDCEQFggnMAA&url=https%3A%2F%2Fitunes.apple.com%2Fpg%2Fapp%2Fsosokan%2Fid1023454229%3Fmt%3D8&usg=AFQjCNF6Y7NlOdNDLqR3M4S2IPGxqMx4_Q&sig2=aX_IFO-K-xp2adJzNnpUzA"> <img src="images/app-store.svg" width=150 ></a></li>
                              </div>
                          </li>
                  </div>


                            <!-- main menu
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
                              <div class="dropdown-menu">
                                  <ul>
                                      <li><a href="blog-fullwidth.html">Blog Full</a></li>
                                      <li><a href="blog-left-sidebar.html">Blog Left sidebar</a></li>
                                      <li><a href="blog-right-sidebar.html">Blog Right sidebar</a></li>
                                  </ul>
                              </div>
                          </li>
                          -->

                      </ul>
                  </div>
              </nav>
              <!-- /main nav -->
          </div>
      </header>

        <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
              <div class="col-md-12">
                  <div class="block">
                    <br>
                      <h3>关于我们</h3>
                    </div>
                </div>
            </div>
        </section>

        <!--
        ==================================================
            Company Description Section Start
        ================================================== -->
        <section class="company-description">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                        <img src="images/about/about-company.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                            <br>
                            <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">什么是搜搜看</h3>
                            <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                              搜搜看于2016年成立，立足于纽约，辐射全美国，力争成为最大的北美社区性闲置买卖交易平台。
目前努力扩张覆盖全美的华人群体，促进一二手闲置商品流通，帮助优质商户入驻搜搜看，为给在美国的华人社区一个更好的交易买卖环境而彻夜不眠地奋斗中！

                            </p>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                                首先搜搜看是一个开放的交易平台，详尽的分类，流畅简单的界面，简单发布商品信息，及时有效跟买卖家进行沟通。
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--
        ==================================================
            Company Feature Section Start
        ================================================== -->
        <section class="about-feature clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                        <h2>
                        买
                        </h2>
                        <p>
                          详尽的分类，服饰配件，电子产品，居家用品，母婴专区，汽车买卖... 直观立体展示商品宝贝，简洁明了，社交化中英双语平台，全美好货，一一收纳
                        </p>
                    </div>
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        <h2 class="item_title">
                        卖
                        </h2>
                        <p>
                          足不出户，动动手指陈列商品信息闲置出让，搬家毕业甩卖，庭院旧货转手，交易记录，反馈评论，添加关注者，完全免费平台，交易无需手续费
                    </p>
                    </div>
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                        <h2 class="item_title">
                        交换／赠送
                        </h2>
                        <p>
                          交换／赠送，买卖双方直接沟通，无需通过第三方平台
简单快捷，内置消息盒子，保障个人联系方式隐私
买卖经验分享，好评差评，大众说了算
                    </p>
                    </div>
                </div>
            </div>
        </section>


        <!--
        ==================================================
            Team Section Start
        ================================================== -->
        <section id="team">
            <div class="container">
                <div class="row">
                    <h2 class="subtitle text-center"></h2>
                    <div class="col-md-3">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                            <div class="team-img">
                                <img src="images/team/king.png" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">King Li</li></h3>
                            <p class="team_designation">Chief Executive Officer</p>
                            <p class="team_text"> </p>
                            <p class="social-icons">
                                <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                            <div class="team-img">
                                <img src="images/team/brian.png" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Brian Ngo</h3>
                            <p class="team_designation">Chief Operating Officer</p>
                            <p class="team_text"> </p>
                            <p class="social-icons">
                                <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                            <div class="team-img">
                                <img src="images/team/morri.png" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Sean Aruiti</h3>
                            <p class="team_designation">Chief Technology Officer</p>
                            <p class="team_text"> </p>
                            <p class="social-icons">
                                <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                            <div class="team-img">
                                <img src="images/team/morris.png" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Morris Mo</h3>
                            <p class="team_designation">Marketing Director</p>
                            <p class="team_text"> </p>
                            <p class="social-icons">
                                <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                            <div class="team-img">
                                <img src="images/team/team-4.jpg" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Hong Yang Cai</h3>
                            <p class="team_designation">Program Coordinator</p>
                            <p class="team_text"> </p>
                            <p class="social-icons">
                                <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                            <div class="team-img">
                                <img src="images/team/team-4.jpg" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Young Hu</h3>
                            <p class="team_designation">Social Media Specialist</p>
                            <p class="team_text"> </p>
                            <p class="social-icons">
                                <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--
        ==================================================
        Clients Section Start
        ================================================== -->
        <section id="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="subtitle text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Our Happy Clinets</h2>
                        <p class="subtitle-des text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, error.</p>
                        <div id="clients-logo" class="owl-carousel">
                            <div>
                                <img src="images/clients/logo-1.jpg" alt="">
                            </div>
                            <div>
                                <img src="images/clients/logo-2.jpg" alt="">
                            </div>
                            <div>
                                <img src="images/clients/logo-3.jpg" alt="">
                            </div>
                            <div>
                                <img src="images/clients/logo-4.jpg" alt="">
                            </div>
                            <div>
                                <img src="images/clients/logo-5.jpg" alt="">
                            </div>
                            <div>
                                <img src="images/clients/logo-1.jpg" alt="">
                            </div>
                            <div>
                                <img src="images/clients/logo-2.jpg" alt="">
                            </div>
                            <div>
                                <img src="images/clients/logo-3.jpg" alt="">
                            </div>
                            <div>
                                <img src="images/clients/logo-4.jpg" alt="">
                            </div>
                            <div>
                                <img src="images/clients/logo-5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--
        ==================================================
        Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">商家入驻</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">平台官方验证核实通过，买卖更放心
优选商家入驻，商品高性价比
精简发布编辑，随地一键快速上新货
社交化买卖圈，建立忠实顾客粉丝群体
                            </p>
                            <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms"><h1>联系搜搜看</h1></a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--
        ==================================================
        Footer Section Start
        ================================================== -->
        <footer id="footer">
            <div class="container">

                          <div class="col-md-12">
                            <ul class="nav navbar-nav navbar-center">
                              <a><li><h1> [  </h1></a></li></a>
                            <li>
                                <a href="index-cn.html" ><h1>首页</h1></a>
                            </li>
                              <a><li><h1>  |  </h1></a></li></a>
                            <li><a href="discover-cn.html"><h1>发现</h1></a></li>
                              <a><li><h1>  |  </h1></a></li></a>
                              <li><a href="tips-cn.html"><h1>买卖贴士</h1></a></li>
                                <a><li><h1> |  </h1></a></li></a>
                                <li><a href="tips-cn.html"><h1>活动</h1></a></li>
                                  <a><li><h1> |  </h1></a></li></a>
                                <li><a href="join-cn.html"><h1>加入</h1></a></li>
                                  <a><li><h1>  |  </h1></a></li></a>
                                  <li><a href="faq-cn.html"><h1>常问问题</h1></a></li>
                                    <a><li><h1>  |  </h1></a></li></a>
                                <li><a href="about-cn.html"><h1>关于</h1></a></li>
                              <a><li><h1>  |  </h1></a></li></a>
                            <li><a href="contact-cn.html"><h1>联系</h1></a></li>
                              <a><li><h1>  ]  </h1></a></li></a>
                          </div>

                <div class="col-md-8">
                    <p class="copyright">Copyright: <span>2017</span> . Design and Developed by <a href="http://www.sosokanapp.com">Team SSK!</a></p>
                </div>
                <div class="col-md-4">
                    <!-- Social Media -->
                    <ul class="social">
                        <li>
                            <a href="#" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="Google Plus">
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </footer> <!-- /#footer -->

      </body>
      </html>
