{% extends "base_new.html" %}
{% load staticfiles %}
{% load humanize %}
{% load imagekit %}
{% block content %}

        <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>FAQ</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index-cn.html">
                                        <i class="ion-ios-home"></i>
                                        首页
                                    </a>
                                </li>
                                <li class="active">常问问题</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/#page-header-->


        <!--
        ==================================================
            Contact Section Start
        ================================================== -->


        <section id="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">什么是搜搜看？</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                              搜搜看于2016年成立，立足于纽约，辐射全美国，目标世界，力争成为最大的社区性闲置买卖交易平台。
                              目前努力扩张覆盖全美的华人群体，促进一二手闲置商品流通，帮助优质商户入驻搜搜看，为给在美国的华人社区一个更好的交易买卖环境而彻夜不眠地奋斗中！
                              搜搜看是一个开放的交易平台，详尽的分类，流畅简单的界面，一键发布商品信息，及时有效跟买卖家进行沟通。


                            </p>
                        <div class="block">
                            <br>

                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">我如何注册搜搜看？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                              搜搜看可以通过电话号码验证，Facebook和微信账号三种方式注册登陆。

                            </p>
                        </div>
                        <div class="block">
                            <br>

                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">搜搜看是免费的吗？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            是的，搜搜看是免费提供给所有用户张贴您的商品信息 。


                            </p>
                        </div>
                        <div class="block">
                            <br>

                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">我如何在搜搜看张贴？</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">

详情请点击“在搜搜看发帖流程”


                            </p>
                        </div>
                        <div class="block">
                            <br>

                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">我怎样在搜搜看上面放自己的推广信息？</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
如果你有兴趣在我们的应用APP中推广您的公司业务等一系列的宣传，请联系我们的销售团队info@sosokanapp.com


                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">搜搜看会公布我的个人资料吗？</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            搜搜看官网有用户保密协议，我们绝不会泄露用户的任何隐私。所有的公开信息仅限于用户在搜搜看上商品发布帖子里公开的信息。
                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">如何在搜搜看上面订阅？</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">

你可以在搜搜订阅关注任何用户或者验证商家。当您关注的用户更新商品列表时，系统会自动给你发来更新提示。因此，你不会错过任何一条关注更新。

                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">搜搜看安全吗？</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
-虽然搜搜看是一个免费的应用程序，并免费浏览，我们只允许注册用户留言评分和发布商品信息。我们的团队将监控所有的职位，并过滤掉非法和未经授权的内容是危害我们的应用程序和国家安全。对于被举报的用户，搜搜看会采取严肃的处理方式。

                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">搜搜看会推出另一种语言吗？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            会的，搜搜看目前只有支持两种语言，英语和中文。我们未来的版本将提供多国语言的支持，如韩语，日语，西班牙语，德语，法语，意大利语，俄语等等。

                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">我怎样才能修改我的搜搜看帖子？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                          你只需要在“我的帖子”菜单选项的具体帖子，你可以选择重新编辑，标为过期或者将帖子删除。

                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">搜搜看如何提供或控制买方和卖方， 客户与商户之间付款流程？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            搜搜看不处理买方和卖方，或客户与商户之间的任何付款方式。所有交易都通过安排买方和卖方，或客户与商家之间的付款方式进行处理。具体请参照 “搜搜看买卖市场简介和总规则”。

                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">我如何举报非法帖子或广告？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            在每个广告，请点击“举报”，我们的团队将调查看问题。如果它被认为是进攻和非法的，搜搜看会进行严肃的处理。另外的举报请参照“交易后的投诉”条款。

                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">如何编辑我搜搜看的用户资料？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            在菜单设置页面中，您可以在“编辑个人资料”按钮，点击更新您的信息。

                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">我可以跟我的朋友分享搜搜看吗？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            我们鼓励各位搜搜看的用户积极与朋友们分享使用搜搜看的体验。大家分享我们的应用程序，可以通过Facebook,和微信联系邀请他们。同时，若你想跟你的朋友分享具体一条商品发布，也可以通过Facebook和微信等社交平台进行分享。

                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">如何注销我的搜搜看账号？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            如果您对搜搜看的使用不满意，或是因为其他任何原因需要注销您的搜搜看账户，请发送电子邮件至info@sosokanapp.com，我们将删除您的帐户。但是，以帮助我们改进我们的其他用户的应用程序，请随时给我们发送的电子邮件提供你的意见和建议，我们会以认真的态度去改良。

                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">如何在Sosokan删除聊天内容？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            在主菜单中，单击“消息”，然后滑动从右到左的具体聊天，删除不需要的对话内容。

                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">我在哪里上Sosokan输入密码？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            Sosokan不需要密码，因为用户的手机，Facebook和微信验证。目前，我们没有为更改密码的选项。

                            </p>
                        </div>

                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">我在哪里可以看到我所有的贴子？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            我在哪里可以看到我所有的贴子？

                            </p>
                        </div>
                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">搜搜看支持Android吗？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            我们首批推出的搜搜看应用程序是支持IOS。我们的开发团队正在做 Android版本，并希望能在未来几个月内推出Android版本。

                            </p>
                        </div>
                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">我如何能把我的发布移到第一位？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            商品消息的发布是由时间和日期排列。我们不建议重复发布相同的商品帖子，只要你的帖子是相关的，我们的用户将能够使用一个简单的搜索看到它。如果从发一样广告，它实际是违反我们的政策，每一个广告为7天有效期。累犯将其广告删除，并撤销他们的帐户暂停。

                            </p>
                        </div>
                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">能否在搜搜看内聊天内添加附件？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            可以，最新版本的搜搜看APP支持这个功能。

                            </p>
                        </div>
                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">我可以发广告到搜搜看网吗？
</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            您只可以在Sosokanapp.com浏览 。现在发帖仅在我们的应用程序Sosokan App内。我们的网页版本发布平台还在建设当中，未来几个月内会陆续上线。

                            </p>
                        </div>
                        <div class="block">
                            <br>
                            <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">我没有看到我想要搜搜看的分类。</h2>
                            <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            我们将继续改善我们的应用程序，你已经找到了缺失的环节。我们希望您给我们发电子邮件，告诉我们缺少的类别，如果您的建议条目被选中，我们将在新的版本内添加。请发电邮info@sosokanapp.com告诉我们您的宝贵意见。


                            </p>
                        </div>

                    </div>


        <!--
        ==================================================
            Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">有兴趣加入搜搜看团队？</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">请把简历发送到 HR@SosokanApp.com</p>
                            <a href="contact-cn.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">联系搜搜看！</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

 {% endblock %}